{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

{{ annotations | dump }}
<div class="o-grid-row">

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7" id="speech-intro">
	<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod-us.s3.amazonaws.com%2Fe61fde10-4703-11e7-8d27-59b4dd6296b8?source=next&fit=scale-down&width=1200"></img>
    <figcaption class="o-typography-caption">© AFP</figcaption>
</figure>

{{ intro }}

</section>

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7">

<br />

<div class="speech" data-annotation-text data-annotation-id="{{berthaId}}">
<span class="speech__quote speech__quote--top"></span>

{{ speech | safe }}

</div>


</section>
</div>
{% endmarkdown %}
{% endblock %}
